.signup {
        padding: 24px;
    }

    .signup>h1 {
        font-size: 20px;
        width: auto;
        text-align: center;
    }

    .signup-input {
        /* border: 1px solid; */
        flex-wrap: wrap;

    }

    .signup-input+div>p {
        font-size: 14px;
    }

    .signup-input>button {
        width: 100%;
        height: 50%;
    }