.prepaid-sim-phone{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1405px;
    padding: 0 24px;
}
.prepaid-card-heading{
    margin: 0;
    font-family: "GTEestiLCDisplayRegular";
    font-size: 38px;
    line-height: 48.64px;
    letter-spacing: 0;
    text-align: center;
    font-weight: 700;
    color: #344054;
    width: 90%;
}
#prepaid-description{
    font-family: 'GTEestiLCDisplayRegular';
    font-size: 16px;
    line-height: 18.88px;
    letter-spacing: 0;
    text-align: center;
    color: #667085;
    font-weight: 400;
    max-width: 1405px;
    padding: 0 24px;
    margin: 0 .9rem 0 2.5rem;
    min-height: 50px;
}
.tab-switch{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tab-switch-container{
        background: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    scroll-margin-top: 80px;
}
.tabs{
    border: 1px solid #21254f;
    border-radius: 40px;
    padding: 2px 3px;
}
.best-value-btn{
background: #21264e;
    color: #fff !important;
    border-radius: 40px;
    min-height: 46px;
    line-height: 0;
    padding: 8px 28px;
    margin: 1px 0;
}
.long-term-plans-btn{
min-height: 46px;
    line-height: 0;
    padding: 8px 28px;
    margin: 1px 0;
    border-radius: 40px;
    border: 0px;
    background-color: transparent;
}
.prepaid-price-filter{
        margin: 0 auto;
    max-width: 1080px;
    position: relative;
    top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container{
        font-family: GTEestiLCDisplayRegular;
    font-size: 14px;
    line-height: 18.56px;
    letter-spacing: 0;
    text-align: center;
    color: #667085;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #e6f3fe;
    background: #fff;
}
.multi-select{
        padding-right: 14px !important;
    height: 42px;
        display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
    margin-top: 11px;
    line-height: 1rem;
}
.sim-plan-cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1080px;
}
.sim-plan-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 46px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    width: 100%;
    max-width: 1080px;
    padding-bottom: 30px;
}
.plan-card{
    width: 344px;
    height: -moz-fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    min-height: 20.313rem;
    position: relative;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .1019607843);
    height: inherit;
    overflow: visible !important;
    border-radius: .75rem;
}
.plan-card-head{
        background: #eff8ff;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    padding-bottom: 24px;
}
.plan-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0;
    margin: 0;
}
.plan-type h2{
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 8px;
    color: #87909f;
}
.plan-row{
        display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
}
.plan-price{
display: flex;
    justify-content: space-between;
    border-left: none;
    min-height: 64px;
    padding: 0 1.5rem;
    color: #344054;
}
.unlimited-data{
        display: flex;
    flex-direction: column;
}
.unlimited-data span:first-child {
   font-family: GTEestiLCDisplayBold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    font-weight: 500; 
}
.unlimited-data span:last-child{
        font-family: GTEestiLCDisplayRegular;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #344054;
}
.price{
        display: flex;
    flex-direction: column;
}
.price span:first-child{
        font-family: GTEestiLCDisplayBold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: right;
}
.price span:last-child{
        font-family: GTEestiLCDisplayRegular;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #344054;
    text-align: right;
}
.plan-card-benifits{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 1.375rem 1.5rem .5rem;
}
.benifit-row{
    width: 100%;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    gap: 12px;
}
.benifit-row p{
   margin: 0px;
    font-family: GTEestiLCDisplayThin;
    font-weight: 400;
    color: rgb(135, 144, 159);
    font-size: 14px;
    line-height: 18px; 
}
.view-more{
    max-height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 24px;
    padding-bottom: 18px;
}
.view-more button{
    font-family: GTEestiLCDisplayRegular;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.56px;
    letter-spacing: 0;
    text-align: left;
    color: #006ae0;
   padding-top: .5rem;
    padding-bottom: 0;
 background-color: transparent;
    border: 0;
}
.view-more button p{
    font-family: GTEestiLCDisplayRegular;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.56px;
    letter-spacing: 0;
    text-align: left;
    color: #006ae0;
}
.select-btns{
    margin-top: 0;
    height: auto;
    flex-direction: column-reverse;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    font-family: GTEestiLCDisplayLight;
    align-items: center;
    gap: 10px;
}
.select-btns .add-basket{
    border: 1px solid #006ae0;
    color: #006ae0;
    width: 100%;
    font-size: 16px;
    font-family: GTEestiLCDisplayRegular;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    height: 40px;
    border-radius: 4px;
    box-shadow: none;
    background-color: transparent;
}
.select-btns .add-basket p{
    z-index: 1;
    position: relative;
}
.select-btns .add-basket span{
        overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.select-btns .buy-now{
    width: 100%;
    background: #08dc7d;
    font-size: 16px;
    font-family: GTEestiLCDisplayRegular;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #344054;
    text-transform: none;
    height: 40px;
    border-radius: 4px;
    box-shadow: none;
   border: 0;
}
.select-btns .buy-now p{
        font-size: 16px;
    font-family: GTEestiLCDisplayRegular;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #344054;
    text-transform: none;
}
.activation{
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
        background: #eff8ff;
    display: flex;
    padding: 5px 24px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    min-height: 28px;
}
.activation div{
        font-family: GTEestiLCDisplayRegular;
    color: #344054;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
}
.view-all-btn{
    display: flex;
    justify-content: center;
}
.view-all-btn button{
    max-width: 344px;
    width: 100%;
    font-size: 18px;
    font-family: GTEestiLCDisplayLight;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    height: 47px;
    border: 1px solid #87909f;
    margin-bottom: 1.25rem;
    border-radius: 5px;
    background-color: transparent;
}
.view-all-btn button p{
 color: #87909f;
}
.option-card-container{
    flex-direction: column;
    background: #fff;
    border: 1.5px solid #ededed;
    min-height: 20.313rem;
    position: relative;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .1019607843);
    height: inherit;
    padding: 10px;
    display: flex;
        width: 344px;
        
    border-radius: .75rem;
}
.option-card-main{
        background-color: #fff;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.option-details-card{
    margin: 0;
    padding: 0 14px;
    color: #344054;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.option-detail-main h1{
    font-weight: 500;
    font-family: GTEestiLCDisplayMedium;
    font-style: normal;
    margin: 0 0 30px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #46286e;
    margin-bottom: 8px;
}
.option-detail-main p{
        color: #667085;
    font-family: GTEestiLCDisplayRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    align-items: baseline;
    gap: 11px;
    margin-top: 0;
    margin-bottom: 13px;
}
.option-detail-main p img{
        max-width: 80px;
    height: auto;
    margin: 0 0 1rem;
}
.option-promotion-card{
        min-height: 68px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.option-promotion-card img{
    margin: 12px auto;
    width: 33px;
    height: 32px;
}
.plan-card:hover{
    border-color: #09F68C;
}
@media (max-width: 320px) {
    .plan-card {
        width: calc(100% - 32px);
    }
}
@media (max-width: 870px) {
    .prepaid-sim-phone {
        margin-top: 30px;
        gap: 5px;
        margin-bottom: 30px;
    }
    .prepaid-card-heading{
        font-size: 24px;
        line-height: 27.84px;
    }
    #prepaid-description{
        font-size:14px;
    }
    .sim-plan-container{
        padding-top: 20px;
    }
    .view-all-btn{
        display: none;
    }
    .activation div{
        display: none;
       
    }
    .activation{
        background-color: white;
    }
}
@media only screen and (max-width: 768px) {
    #prepaid-description{
        width: 90%;
        margin: 0;
        padding: 0;
    }
    .tab-switch{
        display: block;
        padding-top: 0;
    }
    .tab-switch-container{
               padding: 0;
    }
    .prepaid-price-filter{
                top: 10px;
        justify-content: center;
        min-height: 64px;
    }
    .multi-select{
        font-size: 14px;
    }
    .sim-plan-cards{
                margin: 0;
    }
    .sim-plan-container{
                  row-gap: 2rem;
    }
    .plan-card{
        min-height: 400px;
    }
}

